{% extends 'basic.html' %}
{% load static %}

{% block content %}
     <main>
        <section class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs__wrap">
                    <div class="type-button">
                        <a href="{{ request.META.HTTP_REFERER }}">
                            <span class="type-button__text tri-left">
                                назад
                            </span>
                        </a>
                    </div>
                    <div class="breadcrumbs__content">
                        <a href="/">
                            Главная
                        </a>
                        <span>
                            Матчи
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="matches-page">
            <div class="container">
                <h2>
                    Ближайшие матчи
                </h2>
                <div class="matches-page__wrap">
                    {% for match in allMatches %}
                     <div class="matches__item">
                                        <div class="matches__item-teams">
                                            <div class="matches__item-teams-item">
                                                <div class="team-logo">
                                                    <img src="{{ match.team1.icon.url }}" alt="">
                                                </div>
                                                <div class="team-name">
                                                    {{ match.team1.name }}
                                                </div>
                                            </div>
                                            <div class="matches__item-teams-item">
                                              <div class="team-logo">
                                                  <img src="{{ match.team2.icon.url }}" alt="">
                                              </div>
                                              <div class="team-name">
                                                  {{ match.team2.name }}
                                              </div>
                                          </div>
                                        </div>
                                        <div class="matches__item-details">
                                            <div class="matches__item-details-item">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 8.33334C17.5 14.1667 10 19.1667 10 19.1667C10 19.1667 2.5 14.1667 2.5 8.33334C2.5 4.19121 5.85786 0.833344 10 0.833344C14.1421 0.833344 17.5 4.19121 17.5 8.33334ZM12.5 8.33334C12.5 9.71406 11.3807 10.8333 10 10.8333C8.61929 10.8333 7.5 9.71406 7.5 8.33334C7.5 6.95263 8.61929 5.83334 10 5.83334C11.3807 5.83334 12.5 6.95263 12.5 8.33334Z" fill="#F9CA22"/>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 19.1667C10 19.1667 17.5 14.1667 17.5 8.33334C17.5 4.19121 14.1421 0.833344 10 0.833344C5.85786 0.833344 2.5 4.19121 2.5 8.33334C2.5 14.1667 10 19.1667 10 19.1667ZM12.5 8.33334C12.5 9.71406 11.3807 10.8333 10 10.8333C8.61929 10.8333 7.5 9.71406 7.5 8.33334C7.5 6.95263 8.61929 5.83334 10 5.83334C11.3807 5.83334 12.5 6.95263 12.5 8.33334Z" fill="#F9CA22"/>
                                                </svg>
                                                <div class="matches__item-details-content">
                                                    <div class="matches__item-details-title">
                                                        {{ match.team1.name }} vs {{ match.team2.name }}
                                                    </div>
                                                    <div class="matches__item-details-text">
                                                        {{ match.date | date }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="matches__item-details-item">
                                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6245 10.175L9.64948 16.15C9.33687 16.463 8.91266 16.6388 8.47031 16.6388C8.02796 16.6388 7.60376 16.463 7.29115 16.15L0.132812 8.99999V0.666656H8.46615L15.6245 7.82499C16.2707 8.47505 16.2707 9.52493 15.6245 10.175ZM5.54948 7.33332C6.23983 7.33332 6.79948 6.77368 6.79948 6.08332C6.79948 5.39297 6.23983 4.83332 5.54948 4.83332C4.85912 4.83332 4.29948 5.39297 4.29948 6.08332C4.29948 6.77368 4.85912 7.33332 5.54948 7.33332Z" fill="#F9CA22"/>
                                                </svg>
                                                <div class="matches__item-details-content">
                                                    <div class="matches__item-details-title">
                                                        {{ match.ligue }}
                                                    </div>
                                                    <div class="matches__item-details-text">
                                                        {{ match.place }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="matches__item-get-ticket">
                                            <div class="type-button">
                                                <a href="{% url 'show_stadium' match.name_slug %}">
                                                    <span class="type-button__text tri-right">
                                                          Выбрать билет
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}