{% extends 'basic.html' %}
{% load static %}

{% block content %}
      <main>
        <section class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs__wrap">
                    <div class="type-button">
                        <a href="{{ request.META.HTTP_REFERER }}">
                            <span class="type-button__text tri-left">
                                назад
                            </span>
                        </a>
                    </div>
                    <div class="breadcrumbs__content">
                        <a href="/">
                            Главная
                        </a>
                        <a href="{% url 'posts' %}">
                            Новости
                        </a>
                        <span>
                            {{ post.name }}
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-page">
            <div class="container">
                <h2>
                    {{ post.name }}
                </h2>
                <div class="new-page__content">
{#                    <div class="new-page__image-row">#}
{#                        <div class="new-page__image-col col-6">#}
{#                            <img src="img/new/1.png" alt="">#}
{#                        </div>#}
{#                        <div class="new-page__image-col col-6">#}
{#                            <img src="img/new/2.png" alt="">#}
{#                        </div>#}
{#                    </div>#}
                    <div class="type-content">
                       {{ post.description | safe }}
                    </div>
                </div>
                <div class="new-page__foot">
                        <span>
                            Дата публикации:  {{ post.created_at | date:'d.m.Y, H:i' }}
                        </span>
                    <span>
                            {{ post.author }}
                        </span>
                </div>
            </div>
        </section>
        <section class="news">
            <div class="container">
                <div class="block-heading">
                    <div class="block-heading__left">
                        <h2>
                            Другие новости
                        </h2>
                    </div>
                    <div class="block-heading__right">
                        <div class="news__slider-prev">
                            <span class="type-slider-prev yellow-border">

                            </span>
                        </div>
                        <div class="news__slider-next">
                             <span class="type-slider-next yellow-border">

                            </span>
                        </div>
                    </div>

                </div>
                <div class="news__slider-wrap">
                    <div class="news-slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="type-new">
                                    <div class="type-new__heading">
                                    <span>
                                        Пресс-служба ФК Ростов
                                    </span>
                                        <span>
                                        10.11.19
                                    </span>
                                    </div>
                                    <div class="type-new__img">
                                        <a href="#">
                                            <img src="img/home/n1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="type-new__info">
                                        <div class="type-new__title">
                                            <a href="#">
                                                Новое видео Rostov TV о матче с <br>
                                                «Тамбовом»
                                            </a>
                                        </div>
                                        <div class="type-new__text">
                                            Настало время для нового видео Rostov TV о матче с «Тамбовом».
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="type-new">
                                    <div class="type-new__heading">
                                    <span>
                                        Пресс-служба ФК Ростов
                                    </span>
                                        <span>
                                     11.11.19
                                    </span>
                                    </div>
                                    <div class="type-new__img">
                                        <a href="#">
                                            <img src="img/home/n2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="type-new__info">
                                        <div class="type-new__title">
                                            <a href="#">
                                                Elvira T, латвийская кухня и матч со звездами на «Ростов Арене»
                                            </a>
                                        </div>
                                        <div class="type-new__text">
                                            РФС  готовит для болельщиков сборной традиционную имиджевую программу...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="type-new">
                                    <div class="type-new__heading">
                                    <span>
                                        Пресс-служба ФК Ростов
                                    </span>
                                        <span>
                                       12.11.19
                                    </span>
                                    </div>
                                    <div class="type-new__img">
                                        <a href="#">
                                            <img src="img/home/n3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="type-new__info">
                                        <div class="type-new__title">
                                            <a href="#">
                                                Восемь игроков «Ростова» отправились в сборные
                                            </a>
                                        </div>
                                        <div class="type-new__text">
                                            Восемь футболистов «Ростова» вызваны в национальныеи молодежные сборные...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="type-new">
                                    <div class="type-new__heading">
                                    <span>
                                        Пресс-служба ФК Ростов
                                    </span>
                                        <span>
                                        10.11.19
                                    </span>
                                    </div>
                                    <div class="type-new__img">
                                        <a href="#">
                                            <img src="img/home/n1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="type-new__info">
                                        <div class="type-new__title">
                                            <a href="#">
                                                Новое видео Rostov TV о матче с <br>
                                                «Тамбовом»
                                            </a>
                                        </div>
                                        <div class="type-new__text">
                                            Настало время для нового видео Rostov TV о матче с «Тамбовом».
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="type-new">
                                    <div class="type-new__heading">
                                    <span>
                                        Пресс-служба ФК Ростов
                                    </span>
                                        <span>
                                       12.11.19
                                    </span>
                                    </div>
                                    <div class="type-new__img">
                                        <a href="#">
                                            <img src="img/home/n3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="type-new__info">
                                        <div class="type-new__title">
                                            <a href="#">
                                                Восемь игроков «Ростова» отправились в сборные
                                            </a>
                                        </div>
                                        <div class="type-new__text">
                                            Восемь футболистов «Ростова» вызваны в национальныеи молодежные сборные...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="type-new">
                                    <div class="type-new__heading">
                                    <span>
                                        Пресс-служба ФК Ростов
                                    </span>
                                        <span>
                                        10.11.19
                                    </span>
                                    </div>
                                    <div class="type-new__img">
                                        <a href="#">
                                            <img src="img/home/n1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="type-new__info">
                                        <div class="type-new__title">
                                            <a href="#">
                                                Новое видео Rostov TV о матче с <br>
                                                «Тамбовом»
                                            </a>
                                        </div>
                                        <div class="type-new__text">
                                            Настало время для нового видео Rostov TV о матче с «Тамбовом».
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}