{% load static %}
<section class="actual-picture">
            <div class="container">
                <div class="block-heading">
                    <div class="block-heading__left">
                        <h2>
                            Актуальные фотографии
                        </h2>
                    </div>
                    <div class="block-heading__right">
                        <div class="actual-picture__slider-prev">
                            <span class="type-slider-prev">

                            </span>
                        </div>
                        <div class="actual-picture__slider-next">
                             <span class="type-slider-next">

                            </span>
                        </div>
                    </div>

                </div>
                <div class="actual-picture__slider-wrap">
                    <div class="actual-picture__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="actual-picture__slide">
                                    <img src="{% static 'img/home/ph1.png' %}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="actual-picture__slide">
                                    <img src="{% static 'img/home/ph2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="actual-picture__slide">
                                    <img src="{% static 'img/home/ph3.png' %}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="actual-picture__slide">
                                    <img src="{% static 'img/home/ph4.png' %}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="actual-picture__slide">
                                    <img src="{% static 'img/home/ph5.png' %}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="actual-picture__slide">
                                    <img src="{% static 'img/home/ph2.png' %}" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="actual-picture__slide">
                                    <img src="{% static 'img/home/ph3.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
