{% load static %}
<section class="info-block">
            <div class="container">
                <div class="info-block__wrap">
                    <div class="info-block__left">
                        <div class="info-block__player">
                            <img src="{% static 'img/home/text-foot-player.png' %}" alt="">
                        </div>
                    </div>
                    <div class="info-block__right">
                        <div class="info-block__section">
                            <div class="info-block__title">
                                Купить биеты на матчи футбольного  клуба Ростов
                            </div>
                            <div class="info-block__text">
                                При установлении цен на матчи Спартака, владельцы клуба всегда руководствуются несколькими принципами. Болельщики должны их знать и учитывать при каждом следующем проведении матча. Итак, цена билета на матчи ФК Спартак зависит от следующих факторов - популярность футбольной команды, популярность футбольного турнира, в котором принимают участие команды, выбор сектора и места на трибунах и, конечно, футбольная сезонность. Стоимость билетов на матчи ФК Спартак, приобретенных на нашем сайте, всегда остается доступной для фанатов. Потому что мы сами активные болельщики и знаем насколько важна команде поддержка преданных фанатов.
                            </div>
                        </div>
                        <div class="info-block__section">
                            <div class="info-block__title">
                                Цена  биетов на матчи футбольного  клуба Ростов
                            </div>
                            <div class="info-block__text">
                                При установлении цен на матчи Спартака, владельцы клуба всегда руководствуются несколькими принципами. Болельщики должны их знать и учитывать при каждом следующем проведении матча. Итак, цена билета на матчи ФК Спартак зависит от следующих факторов - популярность футбольной команды, популярность футбольного турнира, в котором принимают участие
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>