{% load static %}
<section class="booking-vip">
            <div class="container">
                <div class="booking-vip__wrap">
                    <div class="booking-vip__left">
                        <h2>
                            Бронирование VIP билетов
                        </h2>
                        <form action="" class="form">
                            <div class="type-input">
                                <label class="form-label">Имя</label>
                                <input type="text">
                            </div>
                            <div class="type-input">
                                <label class="form-label">Телефон</label>
                                <input type="tel">
                            </div>
                            <div class="type-input type-input-date">
                                <label class="form-label">Дата</label>
                                <div class="type-input-date__field">
                                    <div class="type-input-date__field-input">
                                        <input type="text">
                                    </div>
                                  <div class="type-input-date__field-button">
                                      <a href="#">
                                          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.02344 5.50415C3.02344 4.39958 3.91887 3.50415 5.02344 3.50415H16.0234C17.128 3.50415 18.0234 4.39958 18.0234 5.50415V16.5042C18.0234 17.6087 17.128 18.5042 16.0234 18.5042H5.02344C3.91887 18.5042 3.02344 17.6087 3.02344 16.5041V5.50415Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                              <path d="M13.8564 1.83765V5.17098" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                              <path d="M7.19043 1.83765V5.17098" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                              <path d="M3.02344 8.50415H18.0234" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                      </a>
                                  </div>
                                </div>

                            </div>
                            <div class="type-input">
                                <label class="form-label">Комментарий</label>
                                <input type="text">
                            </div>
                            <div class="type-checkbox">
                                <label>
                                    <input type="checkbox">
                                    <div class="type-checkbox__content">
                                        <div class="type-checkbox__checkmark">
                                        </div>
                                        Согласие на обработку персональных данных
                                    </div>
                                </label>
                            </div>
                            <div class="type-button">
                                <button type="submit">
                                    <span>Отправить</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="booking-vip__right">
                        <div class="booking-vip__cup">
                            <img src="{% static 'img/home/cup-decor.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>